

<div class="form">


    <label>Name</label>
    <br>
    <input class="form-element" type="text" placeholder="Enter Name">
    <br>
    
    <label>Email</label>
    <br>
    <input  class="form-element" type="text" placeholder="Enter Email">
    <br>

    <label>Phone Number</label>
    <br>
    <input  class="form-element" type="text" placeholder="Enter Phone Number">
    <br>

    <label>Password</label>
    <br>
    <input  class="form-element" type="text" placeholder="Enter Password">
    <br>

    <label>Confirm Password</label>
    <br>
    <input  class="form-element" type="text" placeholder="Confirm Password">
    <br>

    <button class="btn">SAVE</button>

</div>
