#cookies {
    
    border-collapse: collapse;
    width: 60%;
    margin: auto;
  }
  
  #cookies td{
 
    font-size: 14px;
    border: 1px solid #ddd;
   text-align: center;
    padding: 8px;
  }
  
  #cookies tr:nth-child(even){background-color: #ffffff;}
  #cookies tr:nth-child(odd){background-color: #f7f7f7;}
  
  #cookies tr:hover {background-color: #f0f6ff;}
  
  #cookies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0063e6;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

  #cookies th img{
      width:10px;
      height:10px;
  }